.heading {
  cursor: default;

  &--primary {
    font-size: 5.4rem;
    font-weight: 300;
    border-bottom: 1px solid var(--color-primary);
    transition: all 0.4s;
  }

  &--primary:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    transform: translateY(-4px) scale(1.03) skewY(-2deg);
    text-shadow: 0 1rem rgba(#000, 0.03);
  }

  &--secondary {
    font-size: 4.6rem;
    font-weight: 300;
    transition: all 0.4s;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 0;
      background-color: var(--color-primary);
      height: 2px;
      border-radius: 0.5px;
      transition: all 0.4s;
    }
  }

  &--secondary:hover {
    transform: translateY(-4px);

    &::after {
      width: 100%;
    }
  }

  &--small {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.7;
    color: var(--color-secondary);
    text-transform: uppercase;
  }
}
