.message {
  bottom: 3rem;
  right: 6.5%;
  animation: messageAnimation 6.1s alternate;
  position: fixed;

  &__item {
    background-color: var(--color-red);
    border-radius: 3px;
    color: #fff;
    padding: 1rem 2rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: $bp-medium) {
    right: 2.5%;
  }
}

@keyframes messageAnimation {
  0% {
    transform: translateX(20rem);
    opacity: 0;
  }

  30% {
    transform: translateX(0);
    opacity: 1;
  }

  40% {
    transform: translateX(0);
    opacity: 1;
  }

  60% {
    transform: translateX(0);
    opacity: 1;
  }

  70% {
    transform: translateX(0);
    opacity: 1;
  }

  80% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(20rem);
    opacity: 0;
  }
}
